<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>NITK JUMA</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./W3.CSS Template_files/w3.css">
    <link rel="stylesheet" href="./W3.CSS Template_files/w3-theme-black.css">
    <link rel="stylesheet" href="./W3.CSS Template_files/font-awesome.min.css">
    </head>
    
<body class="w3-content" style="max-width:1200px" bgcolor="#fff8dc">
<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>Categories</h2>
<p>Select any of the below Categories :</p>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="./Images/Book.jpg" alt="Boss" style="width: 250px; height: 250px;" class="w3-circle w3-hover-opacity">
  <h3>Books</h3>
  <p>Used Books available</p>
</div>

<div class="w3-quarter">
  <img src="./Images/Printer.jpg" alt="Boss" style="width: 250px; height: 250px;" class="w3-circle w3-hover-opacity">
  <h3>Printers</h3>
  <p>Used Printers available</p>
</div>

<div class="w3-quarter">
  <img src="./Images/Bycycle.jpg" alt="Boss" style="width: 250px; height: 240px;" class="w3-circle w3-hover-opacity">
  <h3>Bicycles</h3>
  <p>Used Bicycles available</p>
</div>

<div class="w3-quarter">
  <img src="./Images/Others.jpg" alt="Boss" style="width:80%; height: 80%;" class="w3-circle w3-hover-opacity">
  <h3>Others</h3>
  <p>Other essential items are available</p>
</div>

</div>
</div>
            
</body>
    

</html>