<!DOCTYPE html>    
<html>    
<head>    
    <title>Item Request Page</title>    
    <link rel="stylesheet" type="text/css" href="ITEM_REQUEST.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>    
<body>
 <h1>Item Request Page</h1><br> 
      
    <div class="Item_Request">    
    <form id="Item_Request" method="POST" action="store">    
       <h2>Item Details</h2>
       <p>Item Type : <input type="text" name="Item_Type" id="inputs_" placeholder="Item Type" required style="margin-left:20px"> </p>
       <p>Item Name : <input type="text" name="Item_Name" id="inputs_" placeholder="Item Name" required style="margin-left:11px"> </p>
       
      <p>Item Max Price : <input type="number" name="Item_Price" id="inputs_" required placeholder="How much u can afford"> </p>

        <input type="button" name="submit" id="Submit" value="Submit" >            
    </form>     
</div>
</body>
</html>